
h1{
	text-align: center;
	color: #F47542;
	padding-bottom: 20px;
}

img{
	width: 100%;
}

.im{
	float: left;
	width: 40%;
	margin-right: 40px;
}

.para{
	padding-left: 40px;
	color: #2D8E8B;
}

.Creation, .Conference, .Participation-orange, .Participation-sma, .Participation-bat, .Organisation, footer{
	clear: both;
}
