*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --blue: #439DB7;
    --yellow: #FED336;
    --orange: #F47542;
    --green: #2D8E8B;
}

/* The rules of the media screen css  for the mobil first*/

@media only screen and (min-width: 740px){

}

@media only  screen and (min-width: 1100px){

}





