*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --blue: #439DB7;
    --yellow: #FED336;
    --orange: #F47542;
    --green: #2D8E8B;
}

.index {
    margin-top:80px;
    padding-top: 10px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


nav{
    background: #1b9bff;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;

}

ul{
    position: fixed;
    width: 100%;
    height: 100hv;
    background: #2c3e50;
    text-align: center;
    top: -100%;
    transition: all 0.5s ease-in-out;
}


.checkbtn{
    margin-top: 23px;
	margin-right: 14px;
    cursor: pointer;
    display: inline-block;
}

.checkbtn .bar {
    width: 30px;
    height: 4px;
    margin-right: 0;
    margin-top: 5px;
    margin-left: 0;
    transition: all 0.3 ease-in-out;
    background: rgb(238, 4, 4);
}

#check{
    display: none;
}

.logo {
    margin-top: 0.3rem;
    height: 80px;
    margin-left: 1rem;
    border-radius: 50%;
}


#check:checked ~ ul{
    top: 90px;
}




